<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class='bg-gray-200 p-4 rounded-md mt-5 shadow-md'>
      <% if post.draft? %>
        <div class='bg-slate-400 p-2 rounded-md w-16'>Draft</div>
      <% elsif post.scheduled? %>
        <div class='bg-sky-200  p-2 rounded-md w-24 '>Scheduled</div>
      <%end%>
      <% if post.cover_image.attached? %>
        <%= image_tag post.cover_image %>
      <% end %>
      <h2><%= link_to post.title, post %></h2>
      <%= post.content %>
    </div>
  <% end%>
  <% if @pagy.count > @pagy.limit %>
    <div class='my-16'>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>
<% else %>
  <div>
    <% if !user_signed_in? %>
      <h1 class='text-center satisfy-regular' >Thought Canvas</h1>
    <% end %>
    <p class="text-center">Posts coming soon!</p>
  </div>
<%  end %>