<% @posts.each do |post| %>
  <div class='bg-gray-200 p-4 rounded-md mt-5 shadow-md'>
    <% if post.draft? %>
      <div class='bg-slate-400 p-2 rounded-md w-16'>Draft</div>
    <% elsif post.scheduled? %>
      <div class='bg-sky-200  p-2 rounded-md w-24 '>Scheduled</div>
    <%end%>
    <h2><%= link_to post.title, post %></h2>
    <%= post.content %>
  </div>
<% end%>