<div class='flex justify-between'>
  <%= link_to 'Edit Post', edit_post_path(@post)%>
  <%= link_to 'Back to Posts', posts_path %>
</div>
<div class='bg-gray-200 p-4 rounded-md shadow-md mt-4 '>
  <h1><%= @post.title %></h1>
  <%= @post.content %>
</div>
